name: Build Flutter Android app 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - name: Install checkout
        uses: actions/checkout@v3
      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Install FlutterAction
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          version: '3.13.1'
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:' # optional, change this to force refresh cache
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:' # optional, change this to specify the cache path
          architecture: x64 # optional, x64 or arm64
      - name: Restore packages
        run: flutter pub get
#       - name: Run tests
#       - run: flutter test
#       - name: Linting
#         run: flutter analyze --no-fatal-infos --no-fatal-warnings
      - name: Build
        run: flutter build apk
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with: 
          name: release-apk
          path: src/build/app/outputs/flutter-apk/app-release.apk
#       - run: flutter build appbundle
